/* ترتيب البودي */
body{display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* خلفية الموقع */
body{
    background-image: url(https://64.media.tumblr.com/bfdd04d8e2ecf62099a964503db37c92/tumblr_my8ls4Wnxu1relaado1_500.gif);
 background-size: cover;
 background-repeat: no-repeat;
}
/* ناف بار */
.navbar{
    font-family: "Lalezar", system-ui;
    position: absolute;
     top: 0;
     left: 0;
     text-align: center;
     width: 100%;
     height: 50px;
     background: rgba(250, 250, 250, 0.447);
     box-shadow: -1px 4px 28px 0px rgb(0,0,0,0.75);
     z-index: 0;
     font-size: 35px;
}
/* بوكس التسجيل */
.coder-sing{
    margin-top: 70px;
    text-align: center; 
    width: 400px;
    height: 500px;
    border-radius: 10px;
    background: rgba(250, 250, 250, 0.434);
    box-shadow: -1px 4px 28px 0px rgb(0,0,0,0.75);
    z-index: 0;
}
